@model ApiAccessResponse
@{
    ViewData["Title"] = "Read Access";
}

<h3 class="text-primary">Read Access</h3>

<p>
    <strong>Api Response: </strong>
    <strong class="text-primary">
        @Model.Message
    </strong>
</p>