@model ApiAccessResponse
@{
	ViewData["Title"] = "Write Access";
}

<h3 class="text-primary">Write Access</h3>

<p>
	<strong>Api Response: </strong>
	<strong class="text-primary">
		@Model.Message
	</strong>
</p>