@model Dictionary<string, string>
@{
    ViewData["Title"] = "Claims";
}

<h3 class="text-primary">Claims</h3>
<br />

<ul>
	@foreach (var claim in Model)
	{
		<li>
			<p class="text-primary" style="overflow-wrap:break-word">
				<strong>@claim.Key: </strong><br />
				<span class="text-wrap">@claim.Value</span>
			</p>
		</li>
	}
</ul>

